# Secret key to HMAC EventSub message
SS_SECRETKEY=abc321

# PostgreSQL Database URL
DATABASE_URL=postgres://streamstatus:mypassword@10.14.0.10:5432/streamstatus

# Admin Token for POST /api/streamers
SS_ADMIN_TOKEN=sup3rS3cr3tT0k3n4AP1

# Twitch Client ID
TW_CLIENT_ID=abc123
# Twitch Secret
TW_CLIENT_SECRET=abc321

# Pushbullet API Key
export SS_PUSHBULLET_APIKEY=myAPIkey
# Pushbullet devices (comma separated) to send notifications to
export SS_PUSHBULLET_DEVICES=myDevice,anotherDevice
